YANG enum assigned name mapping generates invalid `.go` 

https://tools.ietf.org/html/rfc6020#page-120 says. 

> 9.6.4.  The enum Statement
>    <SNIP>
>    It takes as an argument a string which is the assigned name.  The
>    string MUST NOT be empty and MUST NOT have any leading or trailing
>    whitespace characters.  The use of Unicode control codes SHOULD be
>    avoided.


The above  is distinct and looser than the rule for yang identifiers I.e.  

>  “Each identifier starts with an uppercase or lowercase ASCII
>    letter or an underscore character, followed by zero or more ASCII
>    letters, digits, underscore characters, hyphens, and dots.”

https://github.com/openconfig/ygot/blob/85c2a616f482be9dd965356733947cd77f9e84bd/ygen/helpers.go#L24  
references in comments rules for RFC6020 Section 6.2, a YANG identifier, but has rules for some extra special characters.

```
func safeGoEnumeratedValueName(name string) string {
	// NewReplacer takes pairs of strings to be replaced in the form
	// old, new.
	replacer := strings.NewReplacer(
		".", "_",
		"-", "_",
		"/", "_",
		"+", "_PLUS",
		"*", "_ASTERISK",
		":", "_COLON",
		" ", "_")
	return replacer.Replace(name)
}

```

I double-checked with `pyang` tool and it makes the distinction between what is valid in enum assigned names vs YANG identifiers. 

As an example modify : 

`~/go/src/github.com/openconfig/ygot/demo/getting_started/yang/openconfig-interfaces.yang` as follows:

```
366     leaf admin-status { 
367       type enumeration { 
368         enum ""  { 
369           description
370             "RFC says The string MUST NOT be empty";
371         }
372         enum "FOO@!£%^&*()_+" {
373           description
374             "Should be allowed";
375         }
376         enum " FOO  " {
377           description
378             "RFC says  MUST NOT have any leading or trailing whitespace characters";
379         }
380       }
// SNIP 
394     }
395 
```

PYANG does not warn about "FOO@!£%^&*()_+”, e.g.
```
pyang yang/openconfig-interfaces.yang
// SNIP
yang/openconfig-interfaces.yang:368: error: bad value "" (should be enum-arg)
yang/openconfig-interfaces.yang:376: error: bad value " FOO  :" (should be enum-arg)
```


1) I think a quick fix (which I could contribute) would be to add extra mappings to `safeGoEnumeratedValueName` function regarding particular characters that are present today in vendors' published YANG files - in particular  the `@` and `,` chars are used in enum assigned names in YANG from Juniper and Cisco.

An example from Juniper : https://raw.githubusercontent.com/Juniper/yang/master/19.4/19.4R1/junos/conf/junos-conf-system%402019-01-01.yang 
  ```
        enum "aes128-gcm@openssh.com" {
               description "128-bit AES with Galois/Counter Mode";
             }
```

An example from Cisco : https://raw.githubusercontent.com/YangModels/yang/master/vendor/cisco/nx/9.3-3/Cisco-NX-OS-device.yang

```
            enum IPv4,_mLDP {
                value 1;
                description "Discovery Interface Clients - IPv4, mLDP";
            }
```

2) A more involved (but better) fix would handle any valid chars.
 
----

To demo :


```
go run $GOPATH/src/github.com/openconfig/ygot/generator/generator.go -path=yang -output_file=pkg/ocdemo/oc.go -package_name=ocdemo -generate_fakeroot -fakeroot_name=device -compress_paths=true  -exclude_modules=ietf-interfaces yang/openconfig-interfaces.yang
```
which generates ...

```
387 const (
388         // OpenconfigInterfaces_Interface_AdminStatus_UNSET corresponds to the value UNSET of OpenconfigInterfaces_Interface_AdminStatus
389         OpenconfigInterfaces_Interface_AdminStatus_UNSET E_OpenconfigInterfaces_Interface_AdminStatus = 0
390         // OpenconfigInterfaces_Interface_AdminStatus_ corresponds to the value  of OpenconfigInterfaces_Interface_AdminStatus
391         OpenconfigInterfaces_Interface_AdminStatus_ E_OpenconfigInterfaces_Interface_AdminStatus = 1
392         // OpenconfigInterfaces_Interface_AdminStatus_FOO@!£%^&_ASTERISK()__PLUS corresponds to the value FOO@!£%^&_ASTERISK()__PLUS of OpenconfigInterfaces_Interface_AdminStatus
393         OpenconfigInterfaces_Interface_AdminStatus_FOO@!£%^&_ASTERISK()__PLUS E_OpenconfigInterfaces_Interface_AdminStatus = 2
394         // OpenconfigInterfaces_Interface_AdminStatus__FOO__ corresponds to the value _FOO__ of OpenconfigInterfaces_Interface_AdminStatus
395         OpenconfigInterfaces_Interface_AdminStatus__FOO__ E_OpenconfigInterfaces_Interface_AdminStatus = 3
396 )
397 
// SNIP 
439 var ΛEnum = map[string]map[int64]ygot.EnumDefinition{
440         "E_IETFInterfaces_InterfaceType": {
441         },
442         "E_OpenconfigInterfaces_Interface_AdminStatus": {
443                 1: {Name: ""},
444                 2: {Name: "FOO@!£%^&*()_+"},
445                 3: {Name: " FOO  "},
446         },
```

which does not compile ...

```
go build
# github.com/openconfig/ygot/demo/getting_started/pkg/ocdemo
pkg/ocdemo/oc.go:393:48: invalid character U+0040 '@'
pkg/ocdemo/oc.go:393:49: syntax error: unexpected !, expecting semicolon or newline or )
pkg/ocdemo/oc.go:393:50: invalid identifier character U+00A3 '£'
 
```


Hi k1eran, thanks for your comment, this does seem to be a limitation in goyang/ygot. I would be fine with you creating a PR for what symbols are needed, I can review it. Unfortunately the many Go-invalid characters means special-casing each invalid character is likely needed to preserve their verbatim names as much as possible, so I'm happy with just adding another few rules to the replacer.