Pattern statements within " should not have special handling.

In `pkg/yang/lex.go` we currently have special handling for being within a `pattern` statement whose argument is surrounded by double quotes rather than single quotes (see https://github.com/openconfig/goyang/blob/master/pkg/yang/lex.go#L460-L475).

In this case, we treat `\` as a literal `\` rather than an escape character. According to RFC6020 Section 6.1.3:

```
   Within a double-quoted string (enclosed within " "), a backslash
   character introduces a special character, which depends on the
   character that immediately follows the backslash:

    \n      new line
    \t      a tab character
    \"      a double quote
    \\      a single backslash
```

This language persisted in RFC7950. The sections of both RFCs that define `pattern` don't seem to make any change to this language.

I'm therefore proposing to remove the special handling for `pattern` arguments when within double quoted strings. This is causing some modules that use double quotes to fail validation when their contents is parsed using goyang.

Note that rfc6087bis recommends use of single-quoted strings in patterns - which would be nice, but not all module authors follow this.

@andaru -- do you see any issues with making this change? Thanks!

Apologies for the delay; I saw no problem with this.

Thanks -- merging the PR now.