decimal64 works without "fraction-digits" attribute

As per [RFC6020 section 9.3.4](https://tools.ietf.org/html/rfc6020#section-9.3.4), the `decimal64` YANG type requires the `fraction-digits` attribute.

I note some old discussion in NETMOD groups about this and related issues, e.g.,

https://www.ietf.org/mail-archive/web/netmod/current/msg02732.html

Expected: given the drafts as I read them, the following module (missing `fraction-digits` on the `decimal64` type) should not parse successfully.

```
module test {
  namespace "yang:test";
  prefix "test";
  yang-version "1";

  leaf foo {
    type decimal64;
  }

}
```

Do you think a missing `fraction-digits` attribute is an error (as stated by RFC6020)?


Yes, that should be an error.  That module gives me the following:
/tmp/t.yang:7:5: value is required in the range of [1..18]
Not the best error message, but at least it is an error.

You cant have decimal64 without  fraction-digits as it is a fixed point representation.

Thanks, I can improve the error (add a specific case statement for `==nil`) if desired, else I'll close the issue.


Either is fine.  The check for nil is done down in asRangeInt (which is where the error is generated).  Perhaps it should simply say fraction-digits is missing.

I found an issue we had picking up the error, hence the initial confusion.

At fist the error message threw me (I needed to look up RFC6020 for the 1..18 range hint), but it does describe exactly what the value needs to be, so no issue to resolve, excuse the noise.
